@font-face{
    font-family: 'Montserrat';
    src: local('Muller-Trial-Black'),
      url(Montserrat-Bold) format(woff),
      url(Montserrat-Bold) format(woff2);
    font-display: swap;
    font-weight: 400;
    font-style: normal;   
}

@font-face{
    font-family: 'Montserrat';
    src: local('Muller-Trial-Bold'),
      url(Montserrat-Medium) format(woff),
      url(Montserrat-Medium) format(woff2);
    font-display: swap;
    font-weight: 500;
    font-style: normal;   
}

@font-face{
    font-family: 'Montserrat';
    src: local('Muller-Trial-ExtraBoldItalic'),
      url(Montserrat-ExtraBold) format(woff),
      url(Montserrat-ExtraBold) format(woff2);
    font-display: swap;
    font-weight: 700;
    font-style: normal;   
}

:root{
    --color--buttom:#3172B9
}


body{
    font-family: 'Montserrat', sans-serif;
    max-width: 1540px;
    justify-content: center;
    margin: 30px auto;
}

a {
    color: #1C1C1C;
    text-decoration: none;
}

img{
    max-width: 100%;
}

ul{
    list-style-type: none;
    padding-inline-start: 0;
}

button {
    border: none;
    background-color: #3172B9;
    color: white;
}

form {
    border: 1px, #DADADA;
}

.section{
    border-bottom: gray;
}


/*header*/

.main-header{
 display: flex;
 justify-content: space-around;
 align-items: center;
}

.logo-header{
    display: flex;
    justify-content: center;
}

.nav-list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}


.nav-item-list{
    display: flex;
    gap: 50px;
   align-items:flex-end;
   justify-content: center;
}

.nav-list-item{
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
}


.free-trial{
    display: flex;
    padding: 17.5px 30px;
    border-radius: 3px;
}

/*repasition*/

.main-ripsitions{
    background-image:url(/images/first-bg\ 1.jpg);
    width: 1540px;
    height: 550px;
    align-items: center;
}

.ripsitions-h1{
     display:grid;
     font-family: 'Montserrat', sans-serif;
     font: weight 100px;
     padding-top: 110px;
     padding-left: 185px;
}

.ripsitions-p{
    padding-left: 185px;
    padding-top: 25px;
    color: #787878;
}

.ripsitions-buttom{
    margin-top: 25px;
    margin-left: 185px;
    padding: 19px 58px;
    border-radius: 3px;
}


.ripsitions-div{
    padding-top: 15px;
    padding-left: 225px;
}



/*services*/

.services-h2{

}

.services-p{

}


.services-Item-list{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.services-list-Item{
    display: flex;
    border: 1px solid #E4E4E4;
    width: 270px;
    height: 320px;
}

.services-img{
    width: 100px;
    height: 100px;
}

.services-list-Item-p{

}


.services-h3{

}

.services-h3-1{

}

.services-h3-2{

}
/*articles*/

.articles-h2{

}


.articles-Item-list{
    display: flex;
    border: 1px solid #E4E4E4;
    width: 560px;
    display: inline-block;
    gap: 30px;
}


.articles-p{

    color: #787878;
}


.articles-p-1{

    color: #787878;
}

.articles-h3{

}



.articles-list-Item{
    display: flex;
    justify-content: center;
}

.articles-img{
    width: 185px;
    height: 195px;
}

/*clients*/


.clients-h2{

}


.clients-Item-list{
    display: flex;
    border: 1px solid #E4E4E4;
    width: 310px;
    height: 280px;
    display:inline-flex;
    gap: 30px;
}

.clients-opinion{
    color: #787878;
    border-bottom: #787878;
}


.clients-foto{
    display: inline;

}


.clients-name{
    display: flex;

    margin: -60px auto;
}

.clients-work{

    color: #787878;
}





/*contacts*/



.contacts-h2{

}


.contacts-Item-list{
    display: flex;

    width: 150px;
    height: 160px;
}

.contacts-list-Item{

  width: 235px;
}


.contacts-list-Item-1{

}

.contacts-list-Item-2{

}


/*Joinn us*/

.join-h2{

}

.join-p{

}


.join-form{

}

input{
    border: 1px solid gray;
}


.join-input{
    padding-left: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 20px;
    border-radius: 25px;
}


.join-comment{
    padding-top: 15px;
    padding-left: 25px;
    padding-bottom: 95px;
    padding-right: 415px;
    border-radius: 25px;
}




/*footer*/

.main-footer{
    display: flex;
}


.footer-logo{
    margin-left: 125px;
    margin-top: 15px;
}


.footer-p{
    margin: 20 auto;
    margin-left: 25px;
    color: #787878;
}

.footer-item-list{
    display: flex;
    margin-left: 200px;
}

.footer-list-item{
    display: flex;
    gap: 30px;
    padding-left: 30px;
    color: #787878;
}

.website{
    margin-left: 55px;
    margin-top: 12px;
}

.website-logo{
    padding-left: 30px;
}

@media only screen and (max-width: 600px) {
    body{
        background-color: #3172B9;
    }
}






